.bas{ /*Page down button*/
	
	border-radius:50%;
	width:50px;
    position: fixed;
    bottom: 10px;
    right: 15px;

}
/*modif sur les images dans livre*/
.image{
		width: 40%;
	height: 350px;
   float: left;
   
    background-size:100% 100%;
    border-radius: 10px;
        transition: width 0.8s, height 0.5s;

}
.livre > div{   /*ajout sur toutes les box dans livre*/
  border-radius: 5px;
  padding: 10px;
  background-color: #012C57;
  border: 2px solid rgb(79,185,227);
  color:yellow;
   margin: 2em 2em 2em;
}
/*Les box a l'intérieur du fond rose */
.livre {
  display: grid;
    grid-template-columns: 50% 50%;
}
/*couleur de h1 dans livre */
.livre h1{
	color:yellow;
}
.livre ul{
	list-style: none;
}
/*tansition quand tu passe ta souris*/
.livre img:hover{
  height: 100%;
  width: 50%;
	 transition-delay: 1s;
	transition: width 0.8s, height 0.5s;

}
@media(max-width: 1250px) {

  .livre > div{   /*ajout sur toutes les box dans livre*/
  border-radius: 5px;
  padding: 10px;
  background-color: #012C57;
  border: 2px solid rgb(79,185,227);
  color:yellow;
   margin: 2em 2em 2em
}
	.livre {
  display: grid;
  grid-template-columns: 100% ;

  }
.image{
    width: 25%;
  height: 350px;
   float: left;
   
    background-size:100% 100%;
    border-radius: 10px;
        transition: width 0.8s, height 0.5s;
      }
.bas{ /*Page down button*/
  
  border-radius:50%;
  width:50px;
    position: fixed;
    bottom: 10px;
    right: 15px;

}
/*couleur de h1 dans livre */
.livre h1{
  color:yellow;

}
.livre ul{
  list-style: none;
}
/*tansition quand tu passe ta souris*/
.livre img:hover{
  height: 100%;
  width: 50%;
   transition-delay: 1s;
  transition: width 0.8s, height 0.5s;

}
}
